<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="css/style.css" rel="stylesheet" type="text/css">
<meta charset="ISO-8859-1">
<title>Contribuyente</title>
</head>
<body>
	<h1 class="bg-dark">Listado de Contribuyente</h1>
	<table class="table">
		<thead>
			<th scope="col">Importancia</th>
			<th scope="col">Nombre</th>
			<th scope="col">Apellido</th>
			<th scope="col">Nit</th>
			<th scope="col">Fecha</th>
			<!--<th scope="col">Editar</th>-->
		</thead>
		<th:block th:each="contribuyente, row: ${contribuyentes}">
		<tr>
			<td th:text="${contribuyente.importancia.importancia}"/>
			<td th:text="${contribuyente.nombre}"/>
			<td th:text="${contribuyente.apellido}"/>
			<td th:text="${contribuyente.nit}"/>
			<td th:text="${contribuyente.fecha}"/>
			<!--<td><form class="form-group" th:action="@{/editar}" th:object="${contribuyente}" method="post"><input class="btn btn-primary" type="submit" value="Editar"/></form></td>-->
		</tr>
		</th:block>	
	</table>
	<br>
	<form class="form-group" th:action="@{/inicio}" method="post"><input class="btn btn-primary" type="submit" value="Regresar"/></form>
</body>
</html>